body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
}
header {
    background-color: #D2B48C;
    text-align: center;
}
h1 {
    line-height: 200%;
}

nav {
    text-align: center;
    font-weight: bold;
}

nav a:hover {
    color: red;
}


footer {
    background-color: #D2B48C;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
}
